.has-error {
    color: #e65252;
}
.has-error input {
    border-color: #e65252;
}
.fileinput .thumbnail {
    border: solid 1px;
}
.logged-user-w .avatar-w img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

/* @media (min-width: 1024px) and (max-width: 2500px) {
    .menu-w.menu-layout-compact.fixed-menu {
        width:16.5%;
        left:0;
        height:100%;
        position:fixed;
        z-index:999;
    }
    .content-w {
        margin-left:16.5%;
    }
} */

.menu-w .logged-user-menu ul {
    list-style: none;
    text-align: left;
    margin: 0px;
    padding: 0px 10px;
    padding-bottom: 20px;
}


/* Loader style .start */
.spinner {
  position: fixed;
  z-index: 99999999999;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 10px;
  background-color: white;
  opacity: .7;
  display: none;
}

.spinner > div {
    position: relative;
    top: 50%;
    background-color: #333;
    height: 50px;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
/* Loader style .end */

.tab-content {
    border: none;
    padding: 0;
    margin-top: 0px;
}

.nav-link.has-error,
.nav-link.has-error.active {
  color: red;
}

.nav-link.has-error:after,
.nav-link.has-error.active:after {
  background-color: red;
}

.os-tabs-controls {
    margin-bottom: 0px;
}

td.dt-center {
  text-align: center;
}